<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.ticketingdiary.show.mapper.ShowMapper">
 	
 	<select id="selectShowListLimit" parameterType="map" resultType="com.ticketingdiary.show.domain.Show">
 		SELECT
 			`id`
			,`name`
			,`posterImagePath`
		FROM
			`show`
			
			<if test="direction == 'next'">
			WHERE
			<![CDATA[
			`id` < #{standardId}
			]]>
			ORDER BY `id` DESC
			</if>
			<if test="direction == 'prev'">
			WHERE
			`id` > #{standardId}
			<![CDATA[
			ORDER BY `id` ASC
			]]>
			</if>
			<if test="direction == null">
			ORDER BY `id` DESC
			</if>
		LIMIT ${limit} 
 	</select>
 	
 	<select id="selectPostIdBySort" resultType="int">
 		SELECT
 			`id`
 		FROM
 			`show`
 		ORDER BY `id` ${sort}
 		LIMIT 1
 	</select>
 	
 	<select id="selectShowById" resultType="com.ticketingdiary.show.domain.Show">
 		SELECT
 			`id`
			,`name`
			,`posterImagePath`
			,`location`
			,`address`
			,`startDate`
			,`endDate`
			,`category`
			,`group`
			,`region`
			,`ticketType`
			,`price`
			,`limitBuy`
		FROM
			`show`
		WHERE
			`id` = #{showId}
 	</select>
 	
 	<select id="selectShowByCategory" resultType="com.ticketingdiary.show.domain.Show">
 		SELECT
 			`id`
			,`name`
			,`posterImagePath`
		FROM
			`show`
		WHERE
			`category` = #{category}
 	</select>
 	
 	<!-- 총 갯수 출력 -->
 	<select id="countShow">
 		SELECT
			count(*)
		FROM `show`
 	</select>
 	
 	<!-- 페이징 후 조회 -->
 	<select id="selectShow" resultType="com.ticketingdiary.Paging.domain.Paging">
 		SELECT * 
		FROM (
			SELECT ROWNUM RN, show.* 
				FROM (
						SELECT * 
						FROM BOARD 
						ORDER BY SEQ DESC 
						) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
 	
 	</select>
 </mapper>