<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.ticketingdiary.user.mapper.UserMapper">
 	<select id="selectUser" resultType="map">
 		SELECT
 			*
 		FROM
 			`user`
 	</select>
 	
 	<select id="selectUSerByLoginId" parameterType = "String" resultType="com.ticketingdiary.user.domain.User">
 		SELECT
 			`id`
			,`loginId`
			,`password`
			,`name`
			,`phoneNumber`
			,`email`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE `loginId` = #{loginId}
 	
 	</select>
 	
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO `user`
 		(
 			`loginId`
			,`password`
			,`name`
			,`phoneNumber`
			,`email`
			,`loginType`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{loginId}
 			,#{password}
 			,#{name}
 			,#{phoneNumber}
 			,#{email}
 			,#{loginType}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<select id="selectUserByLoginIdPassword" parameterType="map" resultType="com.ticketingdiary.user.domain.User">
 		SELECT
 			`id`
			,`loginId`
			,`password`
			,`name`
			,`phoneNumber`
			,`email`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE `loginId` = #{loginId} AND `password` = #{password}
 	</select>
 	
 	<select id="selectUserByEmail" parameterType="String" resultType="com.ticketingdiary.user.domain.User">
 		SELECT
 			`id`
			,`loginId`
			,`password`
			,`name`
			,`phoneNumber`
			,`email`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE `email` = #{email}
 	</select>
 
 	<select id="selectUserByNameEmail" parameterType="map" resultType="com.ticketingdiary.user.domain.User">
 		SELECT
 			`id`
			,`loginId`
			,`password`
			,`name`
			,`phoneNumber`
			,`email`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE `name` = #{name} AND `email` = #{email}
	</select>
	
	<select id="selectUserById" resultType="com.ticketingdiary.user.domain.User">
		SELECT
 			`id`
			,`loginId`
			,`password`
			,`name`
			,`phoneNumber`
			,`email`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE `id` = #{id}
	</select>
	
</mapper>